/*header index*/
.nav{ 
    background: #891619;
    height: 80px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}  
/*ubicacion del logo*/
.enlace{
    position:absolute;
    padding: 15px 50px;
}

/* logo */
.logo{
    height: 30px;
    margin: 0px 20px;
    padding: 0px 60px;
    text-align: center;
    margin-top: 0px;
    
}

li a.active, li a:hover{
    background: #fff;
    color: rgb(192, 28, 28);
    transition: .5s;
}
/*fondo de pantalla de index*/
.index{
    background-image: url(../img/medialunas_dulces.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top:70px;
    background-position: center;
}
/*fondo de pantalla de nosotros html*/
.nosotros{
    background-image: url(./img/medialunas_argentinas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    position: static;
    bottom: 0;
    width: 100%;
}
/*fondo de pantalla de productos html*/
.productos{
    background-image: url(./img/medialunas_argentinas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: static;
    bottom: 0;
    width: 100%;
}
/*fondo de pantalla de servicios empresas html*/
.serviciosempres{
    background-image: url(./img/Facturas-de-panaderia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: static;
    bottom: 0;
    width: 100%;
}

/*fondo de pantalla de contacto html*/
.contacto{
    background-image: url(../img/panaderiÌa_imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: static;
    bottom: 0;
    width: 100%;
}

a{
    text-decoration: none;}


.menu{
    float: right;
    margin-right: 20px;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    border-radius: 15px;
    position: relative;
    justify-content:space-around;
}
.menu>li>a{
   margin: 0px;
    margin-left: 0px;
    display: block;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
      
}
/*SUBMENU*/
.submenu{
    width: 120px;
    flex-direction: column;
    background: #eb444a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0 , 0.5);
    position: absolute;
    top:70px;
    left: 200px;
    padding: 10px -95px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0 , 0.5);
    z-index: 10;
    opacity: 0;
    list-style: none;
}

.submenu:hover{
    visibility: visible;
    opacity: 1;
    top:70px;
    color: black; 
}

/*cuando paso con el mouse en las opciones de nav, el color de cada alternativa cambia */
li a.active, .menu a:hover{
    background-color: #fff;
    color: rgb(94, 11, 11);
}

.checkbtn{
    font-size: 30px;
    color:#fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*MAIN*/

.nosotros.df-navbar{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #891619;
    color: #fff;
    padding: 15px;

    float: left;

}  
